@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*-----------
  COMMON CSS  
  ------------*/
body{
   margin: 0;
   padding: 0;
   font-family: 'Poppins','sans-serif';
}
main{
    display: flex;
    flex-wrap: wrap;
}
.container{
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom: 60px;
}
/* ----------
  Header CSS
------------ */
header{
    background-color:#562EFF ;
}
.header-container{
    padding-top: 40px;
    /* background-color:#562EFF ; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    /* height: 500px; */
    grid-gap: 20px

}
.header-info{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.header-title{
    padding-left: 140px;
    font-size: 64px;
    color: #FFFFFF;
}
.link-button{
    margin-left: 140px;
    background-color: #b60f4c;
    padding: 20px 80px ;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    /* overflow:hidden; */
}
.link-button span{
    margin-left: 12px;
}
.link-button:hover{
    transform: scale(1.3) rotate(360deg);
    transition: transform 3s ease-in-out;
}

.header-banner{
    width: 55%;
    height: 100%;
    margin-left: 30px;
}
.header-banner img{
    width: 556px;
    height: 500px;
}
.header-banner:hover{
    transform: scale(1.4);
    transition: transform 3s ease-in-out;
}

/* --------------
Player section CSS
---------------- */
.players{
    width: 80%;
    margin-top: 70px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    box-shadow: 1px 1px 25px gray;
    width: 330px;
    height: 474px;
    padding: 15px;
    background-color: #FFFFFF;
    overflow: hidden;
}
.player-image img {
    height: 60%;
    width: 100%;
}
.player-image:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
} 
.player-info p{
    opacity: .6;
}

/* -----------------
 Upcoming Matches CSS
 -------------------- */
 .section-heading{
     font-size: 40px;
     color: #562EFF;
     text-align: center;
 }
 .upcoming-matches{
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
 }
 .match{
    width: 550px;
    height: 550px;
    margin-left: 40px;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 25px gray;
 }
 .match-banner img {
    height: 420px;
    width: 100%;
    border-radius: 5px;
}
.match-title{
    color: midnightblue;
}


/*---------------
    Footer CSS 
 ----------------*/
 .footer-container{
     background-color: #FFFFFF;
     width: 483px;
     height: 213px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     /* margin-top: 20px; */
    /* margin-left: 475px; */
    padding: 100px;
    padding-left: 470px;
  
    text-align: center;
 }
 .footer-logo img{
    width: 100%;
    height: 50%;
    margin-bottom:0;
 }
 .footer-icon{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-column-gap: 5px;
     margin-bottom: 15px;
 }
  .social-icon{

     text-align: center;
     width: 32px;
     height: 32px;
     background-color: #e6e6e6;
     border-radius: 50%;
     line-height: 30px;
     color: grey; 
 }
 .footer-info span{
     padding-bottom: 17px;

 }

 /* --------------------------------------------
                    Responsive CSS
 ------------------------------------------------*/

 /* Mobile Device */
 @media only screen and (max-width:668px){
     .header-container{
        grid-template-columns: repeat(1,1fr); 
        width:100%;
        height: 100%;
     }
     .players{
        grid-template-columns: repeat(1,1fr);
    
     }
     .player{
         width: 420px;
         height: 500px;
     }
    
     .upcoming-matches{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap:12px ;
     }
     .footer-container{
         /* display: grid;
         grid-template-columns: repeat(1,1fr); */
         display: flex;
         flex-wrap:wrap ;
        /* width: 100%; */
     }

 }